body{
    background: rgb(246, 240, 240);
    text-align: center;
    font-size: x-large;
}

.fundoImpar{
    background: red;
    display: inline-block;
}
.fundoPar{
    
    background: yellow;
    display: inline-block;
}
.echo{
    display: inline-block;
}
